<?xml version="1.0"?>
<robot name="drone" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="name" default="drone" />
    <xacro:property name="ns" value="$(arg name)/" />
    
    <!-- MOTOR PROPERTIES -->
    <!-- MOTOR PROPERTIES - LINK -->
    <xacro:property name="l_motor_fl_inert_orig_xyz" value="" />
    <xacro:property name="l_motor_fr_inert_orig_xyz" value="" />
    <xacro:property name="l_motor_rl_inert_orig_xyz" value="" />
    <xacro:property name="l_motor_rr_inert_orig_xyz" value="" />

    <xacro:property name="l_motor_fl_inert_orig_rpy" value="" />
    <xacro:property name="l_motor_fr_inert_orig_rpy" value="" />
    <xacro:property name="l_motor_rl_inert_orig_rpy" value="" />
    <xacro:property name="l_motor_rr_inert_orig_rpy" value="" />

    <xacro:property name="l_motor_mass" value="" />
    <xacro:property name="l_motor_ixx" value="" />
    <xacro:property name="l_motor_ixy" value="" />
    <xacro:property name="l_motor_ixz" value="" />
    <xacro:property name="l_motor_iyy" value="" />
    <xacro:property name="l_motor_iyz" value="" />
    <xacro:property name="l_motor_izz" value="" />
    <!-- link - motors - visual -->
    <xacro:property name="l_motor_color" value="" />
    <!-- link -motors - visual & collision shared -->
    <xacro:property name="l_motor_fl_vis_coll_orig_xyz" value="" />
    <xacro:property name="l_motor_fr_vis_coll_orig_xyz" value="" />
    <xacro:property name="l_motor_rl_vis_coll_orig_xyz" value="" />
    <xacro:property name="l_motor_rr_vis_coll_orig_xyz" value="" />

    <xacro:property name="l_motor_fl_vis_coll_orig_rpy" value="" />
    <xacro:property name="l_motor_fr_vis_coll_orig_rpy" value="" />
    <xacro:property name="l_motor_rl_vis_coll_orig_rpy" value="" />
    <xacro:property name="l_motor_rr_vis_coll_orig_rpy" value="" />

    <xacro:property name="l_motor_fl_mesh" value="" />
    <xacro:property name="l_motor_fr_mesh" value="" />
    <xacro:property name="l_motor_rl_mesh" value="" />
    <xacro:property name="l_motor_rr_mesh" value="" />

    <!-- MOTOR PROPERTIES - JOINT -->
    <xacro:property name="j_motor_fr_orig_xyz" value="" />
    <xacro:property name="j_motor_fr_orig_rpy" value="" />
    <xacro:property name="j_motor_fl_orig_xyz" value="" />
    <xacro:property name="j_motor_fl_orig_rpy" value="" />
    <xacro:property name="j_motor_rr_orig_xyz" value="" />
    <xacro:property name="j_motor_rr_orig_rpy" value="" />
    <xacro:property name="j_motor_rl_orig_xyz" value="" />
    <xacro:property name="j_motor_rl_orig_rpy" value="" />

    <xacro:property name="j_motor_fr_child_link" value="" />
    <xacro:property name="j_motor_fl_child_link" value="" />
    <xacro:property name="j_motor_rr_child_link" value="" />
    <xacro:property name="j_motor_rl_child_link" value="" />

    <xacro:property name="j_motor_parent_link" value="" />
    <xacro:property name="j_motor_joint_axis" value="" />
    <xacro:property name="j_motor_lim_effort" value="10" />
    <xacro:property name="j_motor_lim_vel" value="10" />

    <!-- ROTOR PROPERTIES-->
    <!-- ROTOR PROPERTIES - LINK -->
    <xacro:property name="l_rotor_fl_inert_orig_xyz" value="" />
    <xacro:property name="l_rotor_fr_inert_orig_xyz" value="" />
    <xacro:property name="l_rotor_rl_inert_orig_xyz" value="" />
    <xacro:property name="l_rotor_rr_inert_orig_xyz" value="" />

    <xacro:property name="l_rotor_fl_inert_orig_rpy" value="" />
    <xacro:property name="l_rotor_fr_inert_orig_rpy" value="" />
    <xacro:property name="l_rotor_rl_inert_orig_rpy" value="" />
    <xacro:property name="l_rotor_rr_inert_orig_rpy" value="" />

    <xacro:property name="l_rotor_mass" value="" />
    <xacro:property name="l_rotor_ixx" value="" />
    <xacro:property name="l_rotor_ixy" value="" />
    <xacro:property name="l_rotor_ixz" value="" />
    <xacro:property name="l_rotor_iyy" value="" />
    <xacro:property name="l_rotor_iyz" value="" />
    <xacro:property name="l_rotor_izz" value="" />
    <!-- link - rotors - visual -->
    <xacro:property name="l_rotor_color" value="" />
    <!-- link - rotors - visual & collision shared -->
    <xacro:property name="l_rotor_fl_vis_coll_orig_xyz" value="" />
    <xacro:property name="l_rotor_fr_vis_coll_orig_xyz" value="" />
    <xacro:property name="l_rotor_rl_vis_coll_orig_xyz" value="" />
    <xacro:property name="l_rotor_rr_vis_coll_orig_xyz" value="" />

    <xacro:property name="l_rotor_fl_vis_coll_orig_rpy" value="" />
    <xacro:property name="l_rotor_fr_vis_coll_orig_rpy" value="" />
    <xacro:property name="l_rotor_rl_vis_coll_orig_rpy" value="" />
    <xacro:property name="l_rotor_rr_vis_coll_orig_rpy" value="" />

    <xacro:property name="l_rotor_fl_mesh" value="" />
    <xacro:property name="l_rotor_fr_mesh" value="" />
    <xacro:property name="l_rotor_rl_mesh" value="" />
    <xacro:property name="l_rotor_rr_mesh" value="" />

    <!-- ROTOR PROPERTIES - JOINT -->
    <xacro:property name="j_rotor_fr_orig_xyz" value="" />
    <xacro:property name="j_rotor_fr_orig_rpy" value="" />
    <xacro:property name="j_rotor_fl_orig_xyz" value="" />
    <xacro:property name="j_rotor_fl_orig_rpy" value="" />
    <xacro:property name="j_rotor_rr_orig_xyz" value="" />
    <xacro:property name="j_rotor_rr_orig_rpy" value="" />
    <xacro:property name="j_rotor_rl_orig_xyz" value="" />
    <xacro:property name="j_rotor_rl_orig_rpy" value="" />

    <xacro:property name="j_rotor_fr_child_link" value="" />
    <xacro:property name="j_rotor_fl_child_link" value="" />
    <xacro:property name="j_rotor_rr_child_link" value="" />
    <xacro:property name="j_rotor_rl_child_link" value="" />

    <xacro:property name="j_rotor_fr_parent_link" value="" />
    <xacro:property name="j_rotor_fl_parent_link" value="" />
    <xacro:property name="j_rotor_rr_parent_link" value="" />
    <xacro:property name="j_rotor_rl_parent_link" value="" />

    <xacro:property name="j_rotor_joint_axis" value="" />
    <xacro:property name="j_rotor_lim_effort" value="10" />
    <xacro:property name="j_rotor_lim_vel" value="1000" />


    <!-- MACROS -->

    <!-- MACROS - MOTORS -->
    <xacro:macro name="motor_link_joint"
        params="location inert_xyz inert_rpy vis_xyz vis_rpy mesh child_orig_xyz child_orig_rpy">
        <link name="${ns}link_motor_${location}">
            <inertial>
                <origin xyz="${inert_xyz}" rpy="${inert_rpy}" />
                <mass value="${l_motor_mass}" />
                <inertia ixx="${l_motor_ixx}" ixy="${l_motor_ixy}" ixz="${l_motor_ixz}"
                    iyy="${l_motor_iyy}"
                    iyz="${l_motor_iyz}" izz="${l_motor_izz}" />
            </inertial>
            <visual>
                <origin xyz="${vis_xyz}" rpy="${vis_rpy}" />
                <geometry>
                    <mesh filename="${mesh}" />
                </geometry>
                <material name="link_motor_${location}_material">
                    <color rgba="${l_motor_color}" />
                </material>
            </visual>
            <collision>
                <origin xyz="${vis_xyz}" rpy="${vis_rpy}" />
                <geometry>
                    <mesh filename="${mesh}" />
                </geometry>
            </collision>
        </link>

        <joint name="${ns}joint_motor_${location}" type="fixed">
            <origin xyz="${child_orig_xyz}" rpy="${child_orig_rpy}" />
            <parent link="${ns}${j_motor_parent_link}" />
            <child link="${ns}link_motor_${location}" />
            <axis xyz="${j_motor_joint_axis}" />
            <limit effort="${j_motor_lim_effort}" velocity="${j_motor_lim_vel}" />
        </joint>
    </xacro:macro>

    <!-- MACROS - ROTORS -->
    <xacro:macro name="rotor_link_joint"
        params="location inert_xyz inert_rpy vis_xyz vis_rpy mesh parent_link child_link orig_xyz orig_rpy">

        <link name="${ns}link_rotor_${location}">
            <inertial>
                <origin xyz="${inert_xyz}" rpy="${inert_rpy}" />
                <mass value="${l_rotor_mass}" />
                <inertia ixx="${l_rotor_ixx}" ixy="${l_rotor_ixy}" ixz="${l_rotor_ixz}"
                    iyy="${l_rotor_iyy}"
                    iyz="${l_rotor_iyz}" izz="${l_rotor_izz}" />
            </inertial>
            <visual>
                <origin xyz="${vis_xyz}" rpy="${vis_rpy}" />
                <geometry>
                    <mesh filename="${mesh}" />
                </geometry>
                <material name="link_rotor_${location}_material">
                    <color rgba="${l_rotor_color}" />
                </material>
            </visual>
            <collision>
                <origin xyz="${vis_xyz}" rpy="${vis_rpy}" />
                <geometry>
                    <mesh filename="${mesh}" />
                </geometry>
            </collision>
        </link>

        <joint name="${ns}joint_rotor_${location}" type="fixed">
            <origin xyz="${orig_xyz}" rpy="${orig_rpy}" />
            <parent link="${ns}${parent_link}" />
            <child link="${ns}${child_link}" />
            <axis xyz="${j_rotor_joint_axis}" />
            <limit effort="${j_rotor_lim_effort}" velocity="${j_rotor_lim_vel}" />
        </joint>

        <gazebo reference="${ns}link_rotor_${location}">
            <plugin name="rotor_${location}_thrust" filename="libgazebo_ros_force.so">
                <updateRate>100.0</updateRate>
                <robotNamespace>${arg name}</robotNamespace>
                <bodyName>${ns}link_rotor_${location}</bodyName>
                <topicName>rotor_${location}_thrust</topicName>
                <broadcastTF>true</broadcastTF>
            </plugin>
        </gazebo>
    </xacro:macro>


    <!-- CREATE ROBOT -->
    <!-- create motor links and joints-->
    <xacro:motor_link_joint
        location="fl"
        inert_xyz="${l_motor_fl_inert_orig_xyz}"
        inert_rpy="${l_motor_fl_inert_orig_rpy}"
        vis_xyz="${l_motor_fl_vis_coll_orig_xyz}"
        vis_rpy="${l_motor_fl_vis_coll_orig_rpy}"
        mesh="${l_motor_fl_mesh}"
        child_orig_xyz="${j_motor_fl_orig_xyz}"
        child_orig_rpy="${j_motor_fl_orig_rpy}" />

    <xacro:motor_link_joint
        location="fr"
        inert_xyz="${l_motor_fr_inert_orig_xyz}"
        inert_rpy="${l_motor_fr_inert_orig_rpy}"
        vis_xyz="${l_motor_fr_vis_coll_orig_xyz}"
        vis_rpy="${l_motor_fr_vis_coll_orig_rpy}"
        mesh="${l_motor_fr_mesh}"
        child_orig_xyz="${j_motor_fr_orig_xyz}"
        child_orig_rpy="${j_motor_fr_orig_rpy}" />

    <xacro:motor_link_joint
        location="rl"
        inert_xyz="${l_motor_rl_inert_orig_xyz}"
        inert_rpy="${l_motor_rl_inert_orig_rpy}"
        vis_xyz="${l_motor_rl_vis_coll_orig_xyz}"
        vis_rpy="${l_motor_rl_vis_coll_orig_rpy}"
        mesh="${l_motor_rl_mesh}"
        child_orig_xyz="${j_motor_rl_orig_xyz}"
        child_orig_rpy="${j_motor_rl_orig_rpy}" />

    <xacro:motor_link_joint
        location="rr"
        inert_xyz="${l_motor_rr_inert_orig_xyz}"
        inert_rpy="${l_motor_rr_inert_orig_rpy}"
        vis_xyz="${l_motor_rr_vis_coll_orig_xyz}"
        vis_rpy="${l_motor_rr_vis_coll_orig_rpy}"
        mesh="${l_motor_rr_mesh}"
        child_orig_xyz="${j_motor_rr_orig_xyz}"
        child_orig_rpy="${j_motor_rr_orig_rpy}" />

    <!-- create rotor links, joints, and gazebo force plugins -->
    <xacro:rotor_link_joint
        location="fl"
        inert_xyz="${l_rotor_fl_inert_orig_xyz}"
        inert_rpy="${l_rotor_fl_inert_orig_rpy}"
        vis_xyz="${l_rotor_fl_vis_coll_orig_xyz}"
        vis_rpy="${l_rotor_fl_vis_coll_orig_rpy}"
        mesh="${l_rotor_fl_mesh}"
        parent_link="${j_rotor_fl_parent_link}"
        child_link="${j_rotor_fl_child_link}"
        orig_xyz="${j_rotor_fl_orig_xyz}"
        orig_rpy="${j_rotor_fl_orig_rpy}" />

    <xacro:rotor_link_joint
        location="fr"
        inert_xyz="${l_rotor_fr_inert_orig_xyz}"
        inert_rpy="${l_rotor_fr_inert_orig_rpy}"
        vis_xyz="${l_rotor_fr_vis_coll_orig_xyz}"
        vis_rpy="${l_rotor_fr_vis_coll_orig_rpy}"
        mesh="${l_rotor_fr_mesh}"
        parent_link="${j_rotor_fr_parent_link}"
        child_link="${j_rotor_fr_child_link}"
        orig_xyz="${j_rotor_fr_orig_xyz}"
        orig_rpy="${j_rotor_fr_orig_rpy}" />

    <xacro:rotor_link_joint
        location="rl"
        inert_xyz="${l_rotor_rl_inert_orig_xyz}"
        inert_rpy="${l_rotor_rl_inert_orig_rpy}"
        vis_xyz="${l_rotor_rl_vis_coll_orig_xyz}"
        vis_rpy="${l_rotor_rl_vis_coll_orig_rpy}"
        mesh="${l_rotor_rl_mesh}"
        parent_link="${j_rotor_rl_parent_link}"
        child_link="${j_rotor_rl_child_link}"
        orig_xyz="${j_rotor_rl_orig_xyz}"
        orig_rpy="${j_rotor_rl_orig_rpy}" />

    <xacro:rotor_link_joint
        location="rr"
        inert_xyz="${l_rotor_rr_inert_orig_xyz}"
        inert_rpy="${l_rotor_rr_inert_orig_rpy}"
        vis_xyz="${l_rotor_rr_vis_coll_orig_xyz}"
        vis_rpy="${l_rotor_rr_vis_coll_orig_rpy}"
        mesh="${l_rotor_rr_mesh}"
        parent_link="${j_rotor_rr_parent_link}"
        child_link="${j_rotor_rr_child_link}"
        orig_xyz="${j_rotor_rr_orig_xyz}"
        orig_rpy="${j_rotor_rr_orig_rpy}" />


    <gazebo reference="${ns}link_imu">
        <gravity>true</gravity>
        <sensor name="${ns}imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <topic>__default_topic__</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="${ns}imu_plugin">
                <topicName>imu</topicName>
                <bodyName>${ns}link_imu</bodyName>
                <updateRateHZ>100.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>${ns}link_imu</frameName>
                <initialOrientationAsReference>false</initialOrientationAsReference>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

    <gazebo reference="${ns}link_camera">
        <sensor type="camera" name="${ns}camera1">
            <update_rate>30.0</update_rate>
            <camera name="head">
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>800</width>
                    <height>800</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>${ns}camera1</cameraName>
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>${ns}link_camera</frameName>
                <hackBaseline>0.07</hackBaseline>
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
            </plugin>
        </sensor>
    </gazebo>

    <gazebo>
        <plugin name="drone_manual_controller" filename="libgazebo_ros_planar_move.so">
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>${ns}odom</odometryTopic>
            <odometryFrame>${ns}odom</odometryFrame>
            <odometryRate>20.0</odometryRate>
            <robotBaseFrame>${ns}link_drone_body</robotBaseFrame>
        </plugin>
    </gazebo>
</robot>