<launch>
	<arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.5" />
	<arg name="r" default="0.0" />
	<arg name="p" default="0.0" />
	<arg name="Y" default="0.0" />
    <arg name="name" default="drone" />

	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
		args="-urdf -param robot_description -model $(arg name) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg r) -P $(arg p) -Y $(arg Y)"
		output="screen" />

	<!-- node to direct twist messages to the drone to their planar and vertical handlers -->
	<node pkg="drone_desc" type="drone_cmd_bridge.py" name="drone_cmd_bridge" output="screen"/>
</launch>